k
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.settings-icon, .list-icon {
    margin: 0 0.6rem;
}

.exit-icon {
    transform: rotate(180deg);
    padding: 1rem;
    position: relative;
    cursor: context-menu;
}

#edit-icon-list-header {
    position: absolute;
    top: 0;
    right: 0.5rem;
    transition: 100ms;
}

#edit-icon-list-header:hover {
    text-shadow: 2px 2px 5px rgb(75, 73, 73);
    color: black;
    font-size: 28px;
}

#edit-icon-list-header, .exit-icon, .settings-icon, .list-icon {
    cursor: pointer;
}